/*Font and Font Size for the whole page*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*Controls font, padding, margins, justification, etc...*/
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin-left: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

header p {
  padding: 0 20px;
  margin: 0;
}


.picture{
  margin-left: 350px
}

/*Controls things in footer: social media tags*/
footer {
  font-size: 12px;
  padding: 20px 0;

}

footer .col-sm-8 {
  display: flex;
  margin-left: 20px;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 50px;
  height: 50px;
}

/*Horizontal Rule*/
hr{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10000px; 

}

#section{
  text-align: center;
  padding: 5px;

}

#para{
  margin: 40px;
}

#text{
  text-align: left;
}

#look{
  margin-right: 40px;
}

#social{
  margin-left: 20px;
}

#box{
  display: inline;
  margin-left: 200px;
}
.center{
  margin-left: 30px;
}

/*Webpage preview on Projects.html*/
iframe{
  margin-left: 30px;
}
